OXRS monitor/OXRS monitor.txt
[{"id":"0f8fca99ae630bcf","type":"comment","z":"2185f2d046633eb5","name":"OXRS Monitor 1","info":"","x":180,"y":440,"wires":[]},{"id":"308a91f97bc72997","type":"debug","z":"2185f2d046633eb5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":580,"wires":[]},{"id":"52f6745a0eb07d6d","type":"switch","z":"2185f2d046633eb5","name":"channel 2","property":"payload.channel","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":920,"y":540,"wires":[["042f0a7786b79421"],["884fa29c41d4f3c8"],["21edb76f56bf37ee"],["361840b2de4e1792"]]},{"id":"042f0a7786b79421","type":"switch","z":"2185f2d046633eb5","name":"event - button 5","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":480,"wires":[["ab11166d8db51477"],["07d87cc1f83fa057"]]},{"id":"884fa29c41d4f3c8","type":"switch","z":"2185f2d046633eb5","name":"event - button 6","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":520,"wires":[["2079954f6da38f58"],["80ae2474c2f83010"]]},{"id":"21edb76f56bf37ee","type":"switch","z":"2185f2d046633eb5","name":"event - button 7","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":560,"wires":[["e675389741aad952"],["aca72b1024f6f240"]]},{"id":"361840b2de4e1792","type":"switch","z":"2185f2d046633eb5","name":"event - button 8","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":600,"wires":[["d6aa07d0163e25b9"],["74e4ee549a33b3ef"]]},{"id":"bf4f840fcf112cce","type":"switch","z":"2185f2d046633eb5","name":"channel 3","property":"payload.channel","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":920,"y":700,"wires":[["5032b3d080804457"],["e847d9d2d8108289"],["24cce456f6e0a3cf"],["a29d98518c028a59"]]},{"id":"5032b3d080804457","type":"switch","z":"2185f2d046633eb5","name":"event - button 9","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":640,"wires":[["12fc94976217305d"],["85cdf20ba7427031"]]},{"id":"e847d9d2d8108289","type":"switch","z":"2185f2d046633eb5","name":"event - button","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":680,"wires":[["6f412eb4aaf193df"],["23edab2ea1385e3c"]]},{"id":"24cce456f6e0a3cf","type":"switch","z":"2185f2d046633eb5","name":"event - button","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":720,"wires":[["d6f8bf713110a2df"],["5b7e629fd01bf418"]]},{"id":"a29d98518c028a59","type":"switch","z":"2185f2d046633eb5","name":"event - button","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":760,"wires":[["d8604eda2ad982be"],["f7ab721cf283cda6"]]},{"id":"ae7e0a8464684165","type":"switch","z":"2185f2d046633eb5","name":"channel 4","property":"payload.channel","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":920,"y":860,"wires":[["e144605f45e08280"],["3efe33487fa19861"],["9c20ba490294d2cc"],["b99d82306f7223e5"]]},{"id":"e144605f45e08280","type":"switch","z":"2185f2d046633eb5","name":"event - button","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":800,"wires":[["44e1e966070b8f01"],["040745d416200fe1"]]},{"id":"3efe33487fa19861","type":"switch","z":"2185f2d046633eb5","name":"event - button","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":840,"wires":[["4028965064e95ae6"],["a221c164532053c0"]]},{"id":"9c20ba490294d2cc","type":"switch","z":"2185f2d046633eb5","name":"event - button","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":880,"wires":[["20687cb1c4b7c4e2"],["bab5926c2ce4eaaa"]]},{"id":"b99d82306f7223e5","type":"switch","z":"2185f2d046633eb5","name":"event - button","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":920,"wires":[["abb047dea40f71ec"],["f6f891e390b2d9a1"]]},{"id":"f70039333f89a443","type":"switch","z":"2185f2d046633eb5","name":"channel 5","property":"payload.channel","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":920,"y":1020,"wires":[["d6a4998f8dc23ef3"],["8c0216230465e80f"],["b868f77608c50594"],["48e21b54a2715de3"]]},{"id":"d6a4998f8dc23ef3","type":"switch","z":"2185f2d046633eb5","name":"event - button","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":960,"wires":[["6e05aadef4bb715f"],["3dbe4e8a69f1679e"]]},{"id":"8c0216230465e80f","type":"switch","z":"2185f2d046633eb5","name":"event - button","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":1000,"wires":[["29301da1acc29d41"],["76798012ddc20aa5"]]},{"id":"b868f77608c50594","type":"switch","z":"2185f2d046633eb5","name":"event - button","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":1040,"wires":[["dc711930b57aa972"],["8b33482cf27db480"]]},{"id":"48e21b54a2715de3","type":"switch","z":"2185f2d046633eb5","name":"event - button","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":1080,"wires":[["83e1b85cb0a6b277"],["29c8ac6010835e85"]]},{"id":"1a1fd002d1a13771","type":"switch","z":"2185f2d046633eb5","name":"channel 6","property":"payload.channel","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":920,"y":1180,"wires":[["3107abddaf391ce0"],["c2ecfca6b5e93a33"],["c302b8636104967c"],["3225c4104f027af4"]]},{"id":"3107abddaf391ce0","type":"switch","z":"2185f2d046633eb5","name":"event - button","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":1120,"wires":[["5112f262361c0336"],["71bdeff027cf7ce6"]]},{"id":"c2ecfca6b5e93a33","type":"switch","z":"2185f2d046633eb5","name":"event - button","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":1160,"wires":[["2a55800832c3c3a4"],["0f23b1857b9e9b72"]]},{"id":"c302b8636104967c","type":"switch","z":"2185f2d046633eb5","name":"event - button","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":1200,"wires":[["621ac4949737f073"],["71dd737e0e534774"]]},{"id":"3225c4104f027af4","type":"switch","z":"2185f2d046633eb5","name":"event - button","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":1240,"wires":[["430ea008e957fd9c"],["57b1f04e37d89a0f"]]},{"id":"ce90a0805dac02ce","type":"switch","z":"2185f2d046633eb5","name":"channel 1","property":"payload.channel","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":920,"y":380,"wires":[["791b6f42643a9957"],["1aa0503452fc0649"],["b7947eeac329dd82"],["1441b2ba09f744a4"]]},{"id":"791b6f42643a9957","type":"switch","z":"2185f2d046633eb5","name":"event - button 1","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1120,"y":300,"wires":[["11c0b8bb51f27d0f"],["a91b717f79ebbe25","4ccf883f68190ee9"],["66ad13462b8f400f"]]},{"id":"1aa0503452fc0649","type":"switch","z":"2185f2d046633eb5","name":"event - button 2","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":360,"wires":[["ac18a3a85011235d"],["dd5999a9262d3b4f"]]},{"id":"b7947eeac329dd82","type":"switch","z":"2185f2d046633eb5","name":"event - button 3","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":400,"wires":[["31c58cb27d5dbc23"],["20886749b3b248b0"]]},{"id":"1441b2ba09f744a4","type":"switch","z":"2185f2d046633eb5","name":"event - button 4","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":440,"wires":[["c4b55dc49d03c0e4"],["78304b540a664bdc","6835bac56710beed"]]},{"id":"22f1a9e7f1d3080e","type":"mqtt in","z":"2185f2d046633eb5","name":"","topic":"stat/OXRS_A128","qos":"2","datatype":"json","broker":"9c9e6d4a.b8d71","nl":false,"rap":false,"inputs":0,"x":140,"y":660,"wires":[["308a91f97bc72997","80fd3ce084fc5f33"]]},{"id":"80fd3ce084fc5f33","type":"switch","z":"2185f2d046633eb5","name":"OXRS ports","property":"payload.port","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"11","vt":"num"},{"t":"eq","v":"12","vt":"num"},{"t":"eq","v":"13","vt":"num"},{"t":"eq","v":"14","vt":"num"},{"t":"eq","v":"15","vt":"num"},{"t":"eq","v":"16","vt":"num"},{"t":"eq","v":"17","vt":"num"},{"t":"eq","v":"18","vt":"num"},{"t":"eq","v":"19","vt":"num"},{"t":"eq","v":"20","vt":"num"},{"t":"eq","v":"21","vt":"num"},{"t":"eq","v":"22","vt":"num"},{"t":"eq","v":"23","vt":"num"},{"t":"eq","v":"24","vt":"num"}],"checkall":"true","repair":false,"outputs":24,"x":470,"y":2360,"wires":[["ce90a0805dac02ce"],["52f6745a0eb07d6d"],["bf4f840fcf112cce"],["ae7e0a8464684165"],["f70039333f89a443"],["1a1fd002d1a13771"],["f047628d25da5a21"],["9c7bfa612df67a11"],["dae03bcce387dcc8"],["590e06ed8733797d"],["16521253830b9dc5"],["6ecc31d53744fa8a"],["f0965c01f7532708"],["13eb0c6aadddbd5f"],["681f9e8e10670d5e"],["fd07b14c3a8f7cae"],["7ca9681e5f571ee7"],["027b102320dfe997"],["019a4bad62323c35"],["8b2b62f4a841283b"],["5e933fdb66f6d2ce"],["455fe9784a860fdc"],["2528195933ba1515"],["b7fa3085edfbb6e6"]]},{"id":"9c9e6d4a.b8d71","type":"mqtt-broker","name":"MQTT","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]