media_control/NR Media Control.txt
[{"id":"7ccd7e15ed22628b","type":"subflow","name":"OXRS Tile Media Volume","info":"","category":"","in":[{"x":80,"y":440,"wires":[{"id":"1bdd4a680e106193"}]}],"out":[{"x":1800,"y":640,"wires":[{"id":"0c490f06b4469f47","port":0}]}],"env":[{"name":"screen","type":"num","value":""},{"name":"tile","type":"num","value":""},{"name":"entityID","type":"str","value":""}],"meta":{},"color":"#DDAA99"},{"id":"e2b5456a3bbb0c6f","type":"api-call-service","z":"7ccd7e15ed22628b","name":"","server":"e6a9496.54c7db8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_mute","areaId":["office"],"deviceId":["b24517cb41f74b15be96103e48f33908"],"entityId":["media_player.livingroom_hifi"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":400,"wires":[[]]},{"id":"5eaabd4980134092","type":"server-state-changed","z":"7ccd7e15ed22628b","name":"","server":"e6a9496.54c7db8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.livingroom_hifi","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1210,"y":640,"wires":[["0e9b10ca5754320d"]]},{"id":"0c490f06b4469f47","type":"json","z":"7ccd7e15ed22628b","name":"","property":"payload","action":"str","pretty":false,"x":1650,"y":640,"wires":[[]]},{"id":"c54637ebf3f3f55f","type":"switch","z":"7ccd7e15ed22628b","name":"Style","property":"payload.style","propertyType":"jsonata","rules":[{"t":"eq","v":"buttonUpDown","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":440,"wires":[["827f2f776ef42485"]]},{"id":"827f2f776ef42485","type":"switch","z":"7ccd7e15ed22628b","name":"type","property":"payload.type","propertyType":"jsonata","rules":[{"t":"eq","v":"button","vt":"str"},{"t":"eq","v":"up","vt":"str"},{"t":"eq","v":"down","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":630,"y":440,"wires":[["47ce39285130f75f"],["daf489e496e66107"],["7862c02aa4e744bf"]]},{"id":"1bdd4a680e106193","type":"switch","z":"7ccd7e15ed22628b","name":"Screen","property":"payload.screen","propertyType":"jsonata","rules":[{"t":"eq","v":"screen","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":200,"y":440,"wires":[["a59c08f6f8152671"]]},{"id":"a59c08f6f8152671","type":"switch","z":"7ccd7e15ed22628b","name":"tile","property":"payload.tile","propertyType":"jsonata","rules":[{"t":"eq","v":"tile","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":440,"wires":[["c54637ebf3f3f55f"]]},{"id":"0e9b10ca5754320d","type":"change","z":"7ccd7e15ed22628b","name":"","rules":[{"t":"set","p":"media_sublabel","pt":"flow","to":"payload.new_state.state","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\t   \"tiles\": [\t       {\t           \"screen\": $env('screen'),\t           \"tile\": $env('tile'),\t           \"state\": \"off\"\t       }    \t   ]\t}","tot":"jsonata"},{"t":"set","p":"msg.payload.tiles[0].subLabel","pt":"msg","to":"media_sublabel","tot":"flow"},{"t":"delete","p":"media_sublabel","pt":"flow"},{"t":"delete","p":"media_templevel","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":640,"wires":[["0c490f06b4469f47"]]},{"id":"b1d68465f41ed359","type":"comment","z":"7ccd7e15ed22628b","name":"Updates OXRS Tiles State & Color","info":"","x":1540,"y":580,"wires":[]},{"id":"e91c753d133739cb","type":"api-call-service","z":"7ccd7e15ed22628b","name":"","server":"e6a9496.54c7db8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_down","areaId":["office"],"deviceId":["b24517cb41f74b15be96103e48f33908"],"entityId":["media_player.livingroom_hifi"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":480,"wires":[[]]},{"id":"0667296528ccf1a3","type":"api-call-service","z":"7ccd7e15ed22628b","name":"","server":"e6a9496.54c7db8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_up","areaId":["office"],"deviceId":["b24517cb41f74b15be96103e48f33908"],"entityId":["media_player.livingroom_hifi"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":440,"wires":[[]]},{"id":"7862c02aa4e744bf","type":"switch","z":"7ccd7e15ed22628b","name":"event","property":"payload.event","propertyType":"jsonata","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":480,"wires":[["e91c753d133739cb"],[]]},{"id":"daf489e496e66107","type":"switch","z":"7ccd7e15ed22628b","name":"event","property":"payload.event","propertyType":"jsonata","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":440,"wires":[["0667296528ccf1a3"],[]]},{"id":"47ce39285130f75f","type":"switch","z":"7ccd7e15ed22628b","name":"event","property":"payload.event","propertyType":"jsonata","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":400,"wires":[["e2b5456a3bbb0c6f"],[]]},{"id":"6d1c129d04f7f6bd","type":"subflow","name":"OXRS Tile Media Prev Next Track","info":"","category":"","in":[{"x":60,"y":520,"wires":[{"id":"65b494cea68e737a"}]}],"out":[{"x":1780,"y":720,"wires":[{"id":"2dcabcad25e03949","port":0}]}],"env":[{"name":"screen","type":"str","value":""},{"name":"tile","type":"str","value":""},{"name":"entityID","type":"str","value":""}],"meta":{},"color":"#DDAA99"},{"id":"42c6e8bd3235c787","type":"server-state-changed","z":"6d1c129d04f7f6bd","name":"","server":"e6a9496.54c7db8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.livingroom_hifi","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1210,"y":720,"wires":[["f0ace32d42807936"]]},{"id":"2dcabcad25e03949","type":"json","z":"6d1c129d04f7f6bd","name":"","property":"payload","action":"str","pretty":false,"x":1650,"y":720,"wires":[[]]},{"id":"4bc3054fdfa1aa7b","type":"switch","z":"6d1c129d04f7f6bd","name":"Style","property":"payload.style","propertyType":"jsonata","rules":[{"t":"eq","v":"buttonUpDown","vt":"str"},{"t":"eq","v":"buttonLeftRight","vt":"str"},{"t":"eq","v":"buttonPrevNext","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":490,"y":520,"wires":[[],[],["94ed16250d2e5d2f"],[]]},{"id":"65b494cea68e737a","type":"switch","z":"6d1c129d04f7f6bd","name":"Screen","property":"payload.screen","propertyType":"jsonata","rules":[{"t":"eq","v":"screen","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":200,"y":520,"wires":[["ce2351162586f9a2"]]},{"id":"ce2351162586f9a2","type":"switch","z":"6d1c129d04f7f6bd","name":"tile","property":"payload.tile","propertyType":"jsonata","rules":[{"t":"eq","v":"tile","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":520,"wires":[["4bc3054fdfa1aa7b"]]},{"id":"f0ace32d42807936","type":"change","z":"6d1c129d04f7f6bd","name":"","rules":[{"t":"set","p":"media_sublabel","pt":"flow","to":"payload.new_state.state","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\t   \"tiles\": [\t       {\t           \"screen\": $env('screen'),\t           \"tile\": $env('tile'),\t           \"state\": \"off\"\t       }    \t   ]\t}","tot":"jsonata"},{"t":"set","p":"msg.payload.tiles[0].subLabel","pt":"msg","to":"media_sublabel","tot":"flow"},{"t":"delete","p":"media_sublabel","pt":"flow"},{"t":"delete","p":"media_templevel","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":720,"wires":[["2dcabcad25e03949"]]},{"id":"bea2ece711ceb79d","type":"comment","z":"6d1c129d04f7f6bd","name":"Updates & Triggers Home Assistant","info":"","x":1820,"y":460,"wires":[]},{"id":"62cc456e2ade990a","type":"comment","z":"6d1c129d04f7f6bd","name":"Tile Button Actions Toggle - Stop","info":"","x":810,"y":220,"wires":[]},{"id":"13648e85ccb0ed05","type":"comment","z":"6d1c129d04f7f6bd","name":"Updates OXRS Tiles","info":"","x":1490,"y":660,"wires":[]},{"id":"b0abcddda07e85bd","type":"comment","z":"6d1c129d04f7f6bd","name":"Receives OXRS up and down arrow levels","info":"","x":1320,"y":380,"wires":[]},{"id":"63391ff1ea5355f7","type":"api-call-service","z":"6d1c129d04f7f6bd","name":"","server":"e6a9496.54c7db8","version":5,"debugenabled":false,"domain":"media_player","service":"media_next_track","areaId":["office"],"deviceId":["b24517cb41f74b15be96103e48f33908"],"entityId":["media_player.livingroom_hifi"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":560,"wires":[[]]},{"id":"dfe199d38b44b1be","type":"api-call-service","z":"6d1c129d04f7f6bd","name":"","server":"e6a9496.54c7db8","version":5,"debugenabled":false,"domain":"media_player","service":"media_previous_track","areaId":["office"],"deviceId":["b24517cb41f74b15be96103e48f33908"],"entityId":["media_player.livingroom_hifi"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1070,"y":520,"wires":[[]]},{"id":"94ed16250d2e5d2f","type":"switch","z":"6d1c129d04f7f6bd","name":"type","property":"payload.type","propertyType":"jsonata","rules":[{"t":"eq","v":"button","vt":"str"},{"t":"eq","v":"prev","vt":"str"},{"t":"eq","v":"next","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":650,"y":520,"wires":[["d8309eb896ec7222"],["e56804b7a02013e7"],["fc2d82fe02b540e0"]]},{"id":"e56804b7a02013e7","type":"switch","z":"6d1c129d04f7f6bd","name":"event","property":"payload.event","propertyType":"jsonata","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":520,"wires":[["dfe199d38b44b1be"],[]]},{"id":"fc2d82fe02b540e0","type":"switch","z":"6d1c129d04f7f6bd","name":"event","property":"payload.event","propertyType":"jsonata","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":560,"wires":[["63391ff1ea5355f7"],[]]},{"id":"d8309eb896ec7222","type":"switch","z":"6d1c129d04f7f6bd","name":"event","property":"payload.event","propertyType":"jsonata","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":480,"wires":[["26bce6b4017f11b1"],[]]},{"id":"26bce6b4017f11b1","type":"api-call-service","z":"6d1c129d04f7f6bd","name":"","server":"e6a9496.54c7db8","version":5,"debugenabled":false,"domain":"media_player","service":"media_play_pause","areaId":["office"],"deviceId":["b24517cb41f74b15be96103e48f33908"],"entityId":["media_player.livingroom_hifi"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1060,"y":480,"wires":[[]]},{"id":"e6a9496.54c7db8","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"e45cd77f67569f65","type":"subflow:6d1c129d04f7f6bd","z":"c23a8ceee15d6a2e","name":"","env":[{"name":"screen","value":"1","type":"str"},{"name":"tile","value":"5","type":"str"}],"x":420,"y":1680,"wires":[["2dfedbd40130693a"]]},{"id":"41cd486f411b6b84","type":"subflow:7ccd7e15ed22628b","z":"c23a8ceee15d6a2e","name":"","env":[{"name":"screen","value":"1","type":"num"},{"name":"tile","value":"2","type":"num"}],"x":390,"y":1640,"wires":[["0661267c2bb54074"]]},{"id":"d170cca97b52c898","type":"link in","z":"c23a8ceee15d6a2e","name":"link in 15","links":["836797ca9e4e1ad4"],"x":245,"y":1640,"wires":[["41cd486f411b6b84"]]},{"id":"7760281fa9816d59","type":"link in","z":"c23a8ceee15d6a2e","name":"link in 16","links":["836797ca9e4e1ad4"],"x":245,"y":1680,"wires":[["e45cd77f67569f65"]]},{"id":"0661267c2bb54074","type":"link out","z":"c23a8ceee15d6a2e","name":"link out 34","mode":"link","links":["66bad78dadd878d3"],"x":545,"y":1640,"wires":[]},{"id":"2dfedbd40130693a","type":"link out","z":"c23a8ceee15d6a2e","name":"link out 35","mode":"link","links":["66bad78dadd878d3"],"x":605,"y":1680,"wires":[]},{"id":"0dc5389db99318d0","type":"mqtt in","z":"c23a8ceee15d6a2e","name":"","topic":"stat/OXRS_touch","qos":"2","datatype":"json","broker":"22e293e4.72c8ac","nl":false,"rap":false,"inputs":0,"x":140,"y":1360,"wires":[["72e4cf6c53e3dc4e","836797ca9e4e1ad4"]]},{"id":"836797ca9e4e1ad4","type":"link out","z":"c23a8ceee15d6a2e","name":"link out 21","mode":"link","links":["d170cca97b52c898","7760281fa9816d59","b4332d05d41b1c74","c59256d3a2953e3d","64973c9483b2d3d6","1c8a979d9576d935","daf646e7a90273e2","2995493638cb1d24","8c31882f271138b3","c001993150f91932","7fc231d6479e871a","bc7d6b199bf2b34c","df12b337d5d45c35","0ed12b78375293f2"],"x":255,"y":1360,"wires":[]},{"id":"21609a0e576c0b93","type":"mqtt out","z":"c23a8ceee15d6a2e","name":"","topic":"cmnd/OXRS_touch","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c9e6d4a.b8d71","x":590,"y":1360,"wires":[]},{"id":"66bad78dadd878d3","type":"link in","z":"c23a8ceee15d6a2e","name":"link in 29","links":["9dc1b85d6772b01b","c0627af163170c15","53540617b51ed2d1","2923290219af3c47","e9b18a330f3b7293","be32ed0dff84322e","530208dcc2466b47","a45bc6c13edeb1f2","e9c87a2ee40b4605","2ce06dbd2ecdaed5","eca09dfe900ff28f","06f168d1b44191d1","0661267c2bb54074","2dfedbd40130693a"],"x":465,"y":1360,"wires":[["21609a0e576c0b93"]]},{"id":"22e293e4.72c8ac","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"2","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"9c9e6d4a.b8d71","type":"mqtt-broker","name":"MQTT","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]