OXRS Tile NR configuration/OXRS Tile NR configuration.txt
[{"id":"fea2ddef047fbd60","type":"mqtt in","z":"c23a8ceee15d6a2e","name":"stat/OXRS_touch/lwt","topic":"stat/OXRS_touch/lwt","qos":"2","datatype":"auto-detect","broker":"22e293e4.72c8ac","nl":false,"rap":false,"inputs":0,"x":170,"y":120,"wires":[["930541f313244b91"]]},{"id":"d82892ee652bba64","type":"debug","z":"c23a8ceee15d6a2e","name":"Online Status False","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":220,"wires":[]},{"id":"930541f313244b91","type":"switch","z":"c23a8ceee15d6a2e","name":"Online Status","property":"payload.online","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":120,"wires":[["3d36cfc1a64bba42","14641e74678548e0"],["d82892ee652bba64"]]},{"id":"3d36cfc1a64bba42","type":"debug","z":"c23a8ceee15d6a2e","name":"Online Status True","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":100,"wires":[]},{"id":"7a47623c5f58ad92","type":"inject","z":"c23a8ceee15d6a2e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"online\":true}","payloadType":"str","x":170,"y":180,"wires":[["b40c0c4b4909c3a3"]]},{"id":"b40c0c4b4909c3a3","type":"json","z":"c23a8ceee15d6a2e","name":"","property":"payload","action":"","pretty":false,"x":370,"y":200,"wires":[["930541f313244b91"]]},{"id":"6f1d6989e01f00e5","type":"inject","z":"c23a8ceee15d6a2e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"online\":false}","payloadType":"str","x":180,"y":220,"wires":[["b40c0c4b4909c3a3"]]},{"id":"14641e74678548e0","type":"change","z":"c23a8ceee15d6a2e","name":"Configure Touch Screen","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"screens\":[{\"screen\":1,\"label\":\"Office\",\"tiles\":[{\"tile\":1,\"style\":\"buttonUpDown\",\"label\":\"Downlight\",\"subLabel\":\"Emojiworkz!🤪\",\"icon\":\"_lightbulb\"},{\"tile\":2,\"style\":\"buttonUpDown\",\"label\":\"Speaker\",\"icon\":\"_speaker\"},{\"tile\":3,\"style\":\"buttonLevelUp\",\"label\":\"Levelup\",\"icon\":\"_lightbulb\"},{\"tile\":4,\"style\":\"buttonLevelDown\",\"label\":\"Leveldown\",\"icon\":\"_lightbulb\",\"levelStart\":100,\"levelStop\":255},{\"tile\":5,\"style\":\"buttonPrevNext\",\"icon\":\"_music\",\"label\":\"Skip track\"},{\"tile\":6,\"style\":\"button\",\"icon\":\"_blind\",\"label\":\"Blinds\",\"levelStart\":0,\"levelStop\":100}]},{\"screen\":2,\"label\":\"Livingroom\",\"tiles\":[{\"tile\":1,\"style\":\"buttonLevelUp\",\"label\":\"Light1\"},{\"tile\":2,\"style\":\"colorPickerCct\",\"icon\":\"_bulb\",\"label\":\"Ceiling Light1\"},{\"tile\":3,\"style\":\"colorPickerCct\",\"icon\":\"_bulb\",\"label\":\"Ceiling Light2\"},{\"tile\":4,\"style\":\"colorPickerRgb\",\"icon\":\"_bulb\",\"label\":\"Kitchen LED Strip\"}]},{\"screen\":3,\"label\":\"Climate\",\"tiles\":[{\"tile\":1,\"style\":\"indicator\",\"label\":\"Co2\"},{\"tile\":2,\"style\":\"indicator\",\"label\":\"Temp / Hum\"},{\"tile\":3,\"style\":\"indicator\",\"label\":\"Lux\"}]},{\"screen\":4,\"label\":\"Weather\",\"tiles\":[{\"tile\":1,\"style\":\"indicator\",\"label\":\"Dubai Temperature\"},{\"tile\":2,\"style\":\"indicator\",\"label\":\"Dubai Humidity\"}]},{\"screen\":5,\"label\":\"Blinds\",\"tiles\":[{\"tile\":1,\"style\":\"buttonLevelDown\",\"icon\":\"_blind\",\"label\":\"Blinds\",\"levelStart\":0,\"levelStop\":100},{\"tile\":2,\"style\":\"buttonLevelDown\",\"icon\":\"_blind\",\"label\":\"Blinds\",\"levelStart\":0,\"levelStop\":100},{\"tile\":3,\"style\":\"buttonLevelDown\",\"icon\":\"_blind\",\"label\":\"Blinds\",\"levelStart\":0,\"levelStop\":100},{\"tile\":4,\"style\":\"buttonLevelDown\",\"icon\":\"_blind\",\"label\":\"Blinds\",\"levelStart\":0,\"levelStop\":100}]}],\"colortheme\":{},\"color\":{}}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"conf/OXRS_touch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":160,"wires":[["1cdb7d1ba4e5cf3a"]]},{"id":"1cdb7d1ba4e5cf3a","type":"mqtt out","z":"c23a8ceee15d6a2e","name":"Publish","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"22e293e4.72c8ac","x":1020,"y":160,"wires":[]},{"id":"d4e2e0b8e889ee4c","type":"comment","z":"c23a8ceee15d6a2e","name":"Configures OXRS Tiles via NodeRed","info":"","x":220,"y":60,"wires":[]},{"id":"22e293e4.72c8ac","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"2","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]