OXRS controller/OXRS controller.txt
[{"id":"20b0540474185861","type":"debug","z":"8c564c030a83be36","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1230,"y":1020,"wires":[]},{"id":"fd9a5915b3eb2f84","type":"mqtt out","z":"8c564c030a83be36","name":"","topic":"cmnd/OXRS_A128","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"22e293e4.72c8ac","x":430,"y":1060,"wires":[]},{"id":"dea70a278ed6f9cf","type":"inject","z":"8c564c030a83be36","name":"All OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cmnd/kincony","payload":"{\"outputs\":[{\"index\":1,\"command\":\"off\"},{\"index\":2,\"command\":\"off\"},{\"index\":3,\"command\":\"off\"},{\"index\":4,\"command\":\"off\"},{\"index\":5,\"command\":\"off\"},{\"index\":6,\"command\":\"off\"},{\"index\":7,\"command\":\"off\"},{\"index\":8,\"command\":\"off\"},{\"index\":9,\"command\":\"off\"},{\"index\":10,\"command\":\"off\"},{\"index\":11,\"command\":\"off\"},{\"index\":12,\"command\":\"off\"},{\"index\":13,\"command\":\"off\"},{\"index\":14,\"command\":\"off\"},{\"index\":15,\"command\":\"off\"},{\"index\":16,\"command\":\"off\"},{\"index\":17,\"command\":\"off\"},{\"index\":18,\"command\":\"off\"},{\"index\":19,\"command\":\"off\"},{\"index\":20,\"command\":\"off\"},{\"index\":21,\"command\":\"off\"},{\"index\":22,\"command\":\"off\"},{\"index\":23,\"command\":\"off\"},{\"index\":24,\"command\":\"off\"},{\"index\":25,\"command\":\"off\"},{\"index\":26,\"command\":\"off\"},{\"index\":27,\"command\":\"off\"},{\"index\":28,\"command\":\"off\"},{\"index\":29,\"command\":\"off\"},{\"index\":30,\"command\":\"off\"},{\"index\":31,\"command\":\"off\"},{\"index\":32,\"command\":\"off\"},{\"index\":33,\"command\":\"off\"},{\"index\":34,\"command\":\"off\"},{\"index\":35,\"command\":\"off\"},{\"index\":36,\"command\":\"off\"},{\"index\":37,\"command\":\"off\"},{\"index\":38,\"command\":\"off\"},{\"index\":39,\"command\":\"off\"},{\"index\":40,\"command\":\"off\"},{\"index\":41,\"command\":\"off\"},{\"index\":42,\"command\":\"off\"},{\"index\":43,\"command\":\"off\"},{\"index\":44,\"command\":\"off\"},{\"index\":45,\"command\":\"off\"},{\"index\":46,\"command\":\"off\"},{\"index\":47,\"command\":\"off\"},{\"index\":48,\"command\":\"off\"},{\"index\":49,\"command\":\"off\"},{\"index\":50,\"command\":\"off\"},{\"index\":51,\"command\":\"off\"},{\"index\":52,\"command\":\"off\"},{\"index\":53,\"command\":\"off\"},{\"index\":54,\"command\":\"off\"},{\"index\":55,\"command\":\"off\"},{\"index\":56,\"command\":\"off\"},{\"index\":57,\"command\":\"off\"},{\"index\":58,\"command\":\"off\"},{\"index\":59,\"command\":\"off\"},{\"index\":60,\"command\":\"off\"},{\"index\":61,\"command\":\"off\"},{\"index\":62,\"command\":\"off\"},{\"index\":63,\"command\":\"off\"},{\"index\":64,\"command\":\"off\"},{\"index\":65,\"command\":\"off\"},{\"index\":66,\"command\":\"off\"},{\"index\":67,\"command\":\"off\"},{\"index\":68,\"command\":\"off\"},{\"index\":69,\"command\":\"off\"},{\"index\":70,\"command\":\"off\"},{\"index\":71,\"command\":\"off\"},{\"index\":72,\"command\":\"off\"},{\"index\":73,\"command\":\"off\"},{\"index\":74,\"command\":\"off\"},{\"index\":75,\"command\":\"off\"},{\"index\":76,\"command\":\"off\"},{\"index\":77,\"command\":\"off\"},{\"index\":78,\"command\":\"off\"},{\"index\":79,\"command\":\"off\"},{\"index\":80,\"command\":\"off\"},{\"index\":81,\"command\":\"off\"},{\"index\":82,\"command\":\"off\"},{\"index\":83,\"command\":\"off\"},{\"index\":84,\"command\":\"off\"},{\"index\":85,\"command\":\"off\"},{\"index\":86,\"command\":\"off\"},{\"index\":87,\"command\":\"off\"},{\"index\":88,\"command\":\"off\"},{\"index\":89,\"command\":\"off\"},{\"index\":90,\"command\":\"off\"},{\"index\":91,\"command\":\"off\"},{\"index\":92,\"command\":\"off\"},{\"index\":93,\"command\":\"off\"},{\"index\":94,\"command\":\"off\"},{\"index\":95,\"command\":\"off\"},{\"index\":96,\"command\":\"off\"},{\"index\":97,\"command\":\"off\"},{\"index\":98,\"command\":\"off\"},{\"index\":99,\"command\":\"off\"},{\"index\":100,\"command\":\"off\"},{\"index\":101,\"command\":\"off\"},{\"index\":102,\"command\":\"off\"},{\"index\":103,\"command\":\"off\"},{\"index\":104,\"command\":\"off\"},{\"index\":105,\"command\":\"off\"},{\"index\":106,\"command\":\"off\"},{\"index\":107,\"command\":\"off\"},{\"index\":108,\"command\":\"off\"},{\"index\":109,\"command\":\"off\"},{\"index\":110,\"command\":\"off\"},{\"index\":111,\"command\":\"off\"},{\"index\":112,\"command\":\"off\"},{\"index\":113,\"command\":\"off\"},{\"index\":114,\"command\":\"off\"},{\"index\":115,\"command\":\"off\"},{\"index\":116,\"command\":\"off\"},{\"index\":117,\"command\":\"off\"},{\"index\":118,\"command\":\"off\"},{\"index\":119,\"command\":\"off\"},{\"index\":120,\"command\":\"off\"},{\"index\":121,\"command\":\"off\"},{\"index\":122,\"command\":\"off\"},{\"index\":123,\"command\":\"off\"},{\"index\":124,\"command\":\"off\"},{\"index\":125,\"command\":\"off\"},{\"index\":126,\"command\":\"off\"},{\"index\":127,\"command\":\"off\"},{\"index\":128,\"command\":\"off\"}]}","payloadType":"json","x":150,"y":1060,"wires":[["fd9a5915b3eb2f84","20b0540474185861"]]},{"id":"ba20026c56c3f2eb","type":"inject","z":"8c564c030a83be36","name":"ALL ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cmnd/Kincony","payload":"{\"outputs\":[{\"index\":1,\"command\":\"on\"},{\"index\":2,\"command\":\"on\"},{\"index\":3,\"command\":\"on\"},{\"index\":4,\"command\":\"on\"},{\"index\":5,\"command\":\"on\"},{\"index\":6,\"command\":\"on\"},{\"index\":7,\"command\":\"on\"},{\"index\":8,\"command\":\"on\"},{\"index\":9,\"command\":\"on\"},{\"index\":10,\"command\":\"on\"},{\"index\":11,\"command\":\"on\"},{\"index\":12,\"command\":\"on\"},{\"index\":13,\"command\":\"on\"},{\"index\":14,\"command\":\"on\"},{\"index\":15,\"command\":\"on\"},{\"index\":16,\"command\":\"on\"},{\"index\":17,\"command\":\"on\"},{\"index\":18,\"command\":\"on\"},{\"index\":19,\"command\":\"on\"},{\"index\":20,\"command\":\"on\"},{\"index\":21,\"command\":\"on\"},{\"index\":22,\"command\":\"on\"},{\"index\":23,\"command\":\"on\"},{\"index\":24,\"command\":\"on\"},{\"index\":25,\"command\":\"on\"},{\"index\":26,\"command\":\"on\"},{\"index\":27,\"command\":\"on\"},{\"index\":28,\"command\":\"on\"},{\"index\":29,\"command\":\"on\"},{\"index\":30,\"command\":\"on\"},{\"index\":31,\"command\":\"on\"},{\"index\":32,\"command\":\"on\"},{\"index\":33,\"command\":\"on\"},{\"index\":34,\"command\":\"on\"},{\"index\":35,\"command\":\"on\"},{\"index\":36,\"command\":\"on\"},{\"index\":37,\"command\":\"on\"},{\"index\":38,\"command\":\"on\"},{\"index\":39,\"command\":\"on\"},{\"index\":40,\"command\":\"on\"},{\"index\":41,\"command\":\"on\"},{\"index\":42,\"command\":\"on\"},{\"index\":43,\"command\":\"on\"},{\"index\":44,\"command\":\"on\"},{\"index\":45,\"command\":\"on\"},{\"index\":46,\"command\":\"on\"},{\"index\":47,\"command\":\"on\"},{\"index\":48,\"command\":\"on\"},{\"index\":49,\"command\":\"on\"},{\"index\":50,\"command\":\"on\"},{\"index\":51,\"command\":\"on\"},{\"index\":52,\"command\":\"on\"},{\"index\":53,\"command\":\"on\"},{\"index\":54,\"command\":\"on\"},{\"index\":55,\"command\":\"on\"},{\"index\":56,\"command\":\"on\"},{\"index\":57,\"command\":\"on\"},{\"index\":58,\"command\":\"on\"},{\"index\":59,\"command\":\"on\"},{\"index\":60,\"command\":\"on\"},{\"index\":61,\"command\":\"on\"},{\"index\":62,\"command\":\"on\"},{\"index\":63,\"command\":\"on\"},{\"index\":64,\"command\":\"on\"},{\"index\":65,\"command\":\"on\"},{\"index\":66,\"command\":\"on\"},{\"index\":67,\"command\":\"on\"},{\"index\":68,\"command\":\"on\"},{\"index\":69,\"command\":\"on\"},{\"index\":70,\"command\":\"on\"},{\"index\":71,\"command\":\"on\"},{\"index\":72,\"command\":\"on\"},{\"index\":73,\"command\":\"on\"},{\"index\":74,\"command\":\"on\"},{\"index\":75,\"command\":\"on\"},{\"index\":76,\"command\":\"on\"},{\"index\":77,\"command\":\"on\"},{\"index\":78,\"command\":\"on\"},{\"index\":79,\"command\":\"on\"},{\"index\":80,\"command\":\"on\"},{\"index\":81,\"command\":\"on\"},{\"index\":82,\"command\":\"on\"},{\"index\":83,\"command\":\"on\"},{\"index\":84,\"command\":\"on\"},{\"index\":85,\"command\":\"on\"},{\"index\":86,\"command\":\"on\"},{\"index\":87,\"command\":\"on\"},{\"index\":88,\"command\":\"on\"},{\"index\":89,\"command\":\"on\"},{\"index\":90,\"command\":\"on\"},{\"index\":91,\"command\":\"on\"},{\"index\":92,\"command\":\"on\"},{\"index\":93,\"command\":\"on\"},{\"index\":94,\"command\":\"on\"},{\"index\":95,\"command\":\"on\"},{\"index\":96,\"command\":\"on\"},{\"index\":97,\"command\":\"on\"},{\"index\":98,\"command\":\"on\"},{\"index\":99,\"command\":\"on\"},{\"index\":100,\"command\":\"on\"},{\"index\":101,\"command\":\"on\"},{\"index\":102,\"command\":\"on\"},{\"index\":103,\"command\":\"on\"},{\"index\":104,\"command\":\"on\"},{\"index\":105,\"command\":\"on\"},{\"index\":106,\"command\":\"on\"},{\"index\":107,\"command\":\"on\"},{\"index\":108,\"command\":\"on\"},{\"index\":109,\"command\":\"on\"},{\"index\":110,\"command\":\"on\"},{\"index\":111,\"command\":\"on\"},{\"index\":112,\"command\":\"on\"},{\"index\":113,\"command\":\"on\"},{\"index\":114,\"command\":\"on\"},{\"index\":115,\"command\":\"on\"},{\"index\":116,\"command\":\"on\"},{\"index\":117,\"command\":\"on\"},{\"index\":118,\"command\":\"on\"},{\"index\":119,\"command\":\"on\"},{\"index\":120,\"command\":\"on\"},{\"index\":121,\"command\":\"on\"},{\"index\":122,\"command\":\"on\"},{\"index\":123,\"command\":\"on\"},{\"index\":124,\"command\":\"on\"},{\"index\":125,\"command\":\"on\"},{\"index\":126,\"command\":\"on\"},{\"index\":127,\"command\":\"on\"},{\"index\":128,\"command\":\"on\"}]}","payloadType":"json","x":150,"y":1000,"wires":[["54dca74f403f0e76","20b0540474185861"]]},{"id":"54dca74f403f0e76","type":"mqtt out","z":"8c564c030a83be36","name":"","topic":"cmnd/OXRS_A128","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"22e293e4.72c8ac","x":430,"y":1000,"wires":[]},{"id":"646677a7700f41ca","type":"comment","z":"8c564c030a83be36","name":"OXRS Commands","info":"","x":230,"y":940,"wires":[]},{"id":"256432376655b0b6","type":"mqtt out","z":"8c564c030a83be36","name":"","topic":"cmnd/OXRS_A128","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"22e293e4.72c8ac","x":1210,"y":1480,"wires":[]},{"id":"f908254f6f4ca19a","type":"debug","z":"8c564c030a83be36","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":1260,"wires":[]},{"id":"6d153e0da4a6a190","type":"template","z":"8c564c030a83be36","name":"{\"outputs\":[{\"index\":1,\"command\":\"on\"}]}","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"outputs\":[{\"index\":1,\"command\":\"on\"}]}","output":"json","x":800,"y":1120,"wires":[["f908254f6f4ca19a","256432376655b0b6"]]},{"id":"22284e687d59cd26","type":"template","z":"8c564c030a83be36","name":"{\"outputs\":[{\"index\":1,\"command\":\"off\"}]}","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"outputs\":[{\"index\":1,\"command\":\"off\"}]}","output":"json","x":800,"y":1160,"wires":[["f908254f6f4ca19a","256432376655b0b6"]]},{"id":"b215528eacd8a52d","type":"template","z":"8c564c030a83be36","name":"{\"outputs\":[{\"index\":2,\"command\":\"on\"}]}","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"outputs\":[{\"index\":2,\"command\":\"on\"}]}","output":"json","x":800,"y":1200,"wires":[["256432376655b0b6","f908254f6f4ca19a"]]},{"id":"ae75df80993ae8b5","type":"template","z":"8c564c030a83be36","name":"{\"outputs\":[{\"index\":2,\"command\":\"off\"}]}","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"outputs\":[{\"index\":2,\"command\":\"off\"}]}","output":"json","x":800,"y":1240,"wires":[["256432376655b0b6","f908254f6f4ca19a"]]},{"id":"85a8a1b2199697a3","type":"template","z":"8c564c030a83be36","name":"{\"outputs\":[{\"index\":3,\"command\":\"on\"}]}","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"outputs\":[{\"index\":3,\"command\":\"on\"}]}","output":"json","x":800,"y":1280,"wires":[["256432376655b0b6","f908254f6f4ca19a"]]},{"id":"5624fc3a7666758d","type":"template","z":"8c564c030a83be36","name":"{\"outputs\":[{\"index\":3,\"command\":\"off\"}]}","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"outputs\":[{\"index\":3,\"command\":\"off\"}]}","output":"json","x":800,"y":1320,"wires":[["256432376655b0b6","f908254f6f4ca19a"]]},{"id":"ad1b75c5698ccf8f","type":"template","z":"8c564c030a83be36","name":"{\"outputs\":[{\"index\":4,\"command\":\"on\"}]}","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"outputs\":[{\"index\":4,\"command\":\"on\"}]}","output":"json","x":800,"y":1360,"wires":[["256432376655b0b6","f908254f6f4ca19a"]]},{"id":"4ade133ac0a755c7","type":"template","z":"8c564c030a83be36","name":"{\"outputs\":[{\"index\":4,\"command\":\"off\"}]}","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"outputs\":[{\"index\":4,\"command\":\"off\"}]}","output":"json","x":800,"y":1400,"wires":[["256432376655b0b6","f908254f6f4ca19a"]]},{"id":"e7808d26796287e4","type":"template","z":"8c564c030a83be36","name":"{\"outputs\":[{\"index\":5,\"command\":\"on\"}]}","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"outputs\":[{\"index\":5,\"command\":\"on\"}]}","output":"json","x":800,"y":1440,"wires":[["256432376655b0b6","f908254f6f4ca19a"]]},{"id":"ee234ea2544f739c","type":"template","z":"8c564c030a83be36","name":"{\"outputs\":[{\"index\":5,\"command\":\"off\"}]}","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"outputs\":[{\"index\":5,\"command\":\"off\"}]}","output":"json","x":800,"y":1480,"wires":[["256432376655b0b6","f908254f6f4ca19a"]]},{"id":"5f15234baed98b60","type":"template","z":"8c564c030a83be36","name":"{\"outputs\":[{\"index\":6,\"command\":\"on\"}]}","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"outputs\":[{\"index\":6,\"command\":\"on\"}]}","output":"json","x":800,"y":1520,"wires":[["256432376655b0b6","f908254f6f4ca19a"]]},{"id":"71727b9c492b72ac","type":"template","z":"8c564c030a83be36","name":"{\"outputs\":[{\"index\":6,\"command\":\"off\"}]}","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"outputs\":[{\"index\":6,\"command\":\"off\"}]}","output":"json","x":800,"y":1560,"wires":[["256432376655b0b6","f908254f6f4ca19a"]]},{"id":"50dfd7c89a821e9a","type":"template","z":"8c564c030a83be36","name":"{\"outputs\":[{\"index\":7,\"command\":\"on\"}]}","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"outputs\":[{\"index\":7,\"command\":\"on\"}]}","output":"json","x":800,"y":1600,"wires":[["256432376655b0b6","f908254f6f4ca19a"]]},{"id":"6c22a14de5271638","type":"template","z":"8c564c030a83be36","name":"{\"outputs\":[{\"index\":7,\"command\":\"off\"}]}","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"outputs\":[{\"index\":7,\"command\":\"off\"}]}","output":"json","x":800,"y":1640,"wires":[["256432376655b0b6","f908254f6f4ca19a"]]},{"id":"1dc052fcde1c34b7","type":"server-events","z":"8c564c030a83be36","name":"covers","server":"e6a9496.54c7db8","version":2,"eventType":"call_service","exposeToHomeAssistant":false,"eventData":"","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"","x":130,"y":1480,"wires":[["e82dc1f0ddfe6ed8","f04df5d7e9ab8b43","98497a283019bb37","9afb88c685f8f1db","78723fefa905186a","41ea25bbcd1f8c31"]]},{"id":"e82dc1f0ddfe6ed8","type":"debug","z":"8c564c030a83be36","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":150,"y":1660,"wires":[]},{"id":"f75b5f696e5414d8","type":"template","z":"8c564c030a83be36","name":"{\"outputs\":[{\"index\":8,\"command\":\"off\"}]}","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"outputs\":[{\"index\":8,\"command\":\"off\"}]}","output":"json","x":800,"y":1720,"wires":[["256432376655b0b6","f908254f6f4ca19a"]]},{"id":"a49f0d8aa0d38cb8","type":"template","z":"8c564c030a83be36","name":"{\"outputs\":[{\"index\":8,\"command\":\"on\"}]}","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"outputs\":[{\"index\":8,\"command\":\"on\"}]}","output":"json","x":800,"y":1680,"wires":[["256432376655b0b6","f908254f6f4ca19a"]]},{"id":"f04df5d7e9ab8b43","type":"switch","z":"8c564c030a83be36","name":"cover","property":"payload.event.service_data.entity_id[0]","propertyType":"msg","rules":[{"t":"eq","v":"script.blo_4_q1_cover_down","vt":"str"},{"t":"eq","v":"script.blo_4_q1_cover_stop","vt":"str"},{"t":"eq","v":"script.blo_4_q1_cover_up","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":1180,"wires":[["b215528eacd8a52d","22284e687d59cd26"],["ae75df80993ae8b5","22284e687d59cd26"],["6d153e0da4a6a190","ae75df80993ae8b5"]]},{"id":"98497a283019bb37","type":"switch","z":"8c564c030a83be36","name":"cover","property":"payload.event.service_data.entity_id[0]","propertyType":"msg","rules":[{"t":"eq","v":"script.blo_5_q2_cover_down","vt":"str"},{"t":"eq","v":"script.blo_5_q2_cover_stop","vt":"str"},{"t":"eq","v":"script.blo_5_q2_cover_up","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":1340,"wires":[["5624fc3a7666758d","ad1b75c5698ccf8f"],["5624fc3a7666758d","4ade133ac0a755c7"],["85a8a1b2199697a3","4ade133ac0a755c7"]]},{"id":"9afb88c685f8f1db","type":"switch","z":"8c564c030a83be36","name":"cover","property":"payload.event.service_data.entity_id[0]","propertyType":"msg","rules":[{"t":"eq","v":"script.blo_9_q3_cover_down","vt":"str"},{"t":"eq","v":"script.blo_9_q3_cover_stop","vt":"str"},{"t":"eq","v":"script.blo_9_q3_cover_up","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":1500,"wires":[["5f15234baed98b60","ee234ea2544f739c"],["71727b9c492b72ac","ee234ea2544f739c"],["e7808d26796287e4","71727b9c492b72ac"]]},{"id":"78723fefa905186a","type":"switch","z":"8c564c030a83be36","name":"cover","property":"payload.event.service_data.entity_id[0]","propertyType":"msg","rules":[{"t":"eq","v":"script.blo_10_q3_cover_down","vt":"str"},{"t":"eq","v":"script.blo_10_q3_cover_stop","vt":"str"},{"t":"eq","v":"script.blo_10_q3_cover_up","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":1660,"wires":[["6c22a14de5271638","a49f0d8aa0d38cb8"],["f75b5f696e5414d8","6c22a14de5271638"],["50dfd7c89a821e9a","f75b5f696e5414d8"]]},{"id":"c652e84faae62daa","type":"comment","z":"8c564c030a83be36","name":"HASS Covers to OXRS MQTT Commands","info":"","x":200,"y":1140,"wires":[]},{"id":"22e293e4.72c8ac","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"2","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"e6a9496.54c7db8","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]