blinds/NR Blinds.txt
[{"id":"745948b7528de232","type":"subflow","name":"OXRS Touch Blinds","info":"","category":"","in":[{"x":100,"y":400,"wires":[{"id":"19e321241b1c613a"}]}],"out":[{"x":1600,"y":620,"wires":[{"id":"27c7cfc1d54c7db2","port":0}]}],"env":[{"name":"entityID","type":"str","value":""},{"name":"screen","type":"num","value":""},{"name":"tile","type":"num","value":""}],"meta":{},"color":"#DDAA99"},{"id":"460a3bd10b8fc548","type":"server-state-changed","z":"745948b7528de232","name":"","server":"e6a9496.54c7db8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"${entityID}","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1130,"y":620,"wires":[["ab199d2ce7843c3b"]]},{"id":"27c7cfc1d54c7db2","type":"json","z":"745948b7528de232","name":"","property":"payload","action":"str","pretty":false,"x":1510,"y":620,"wires":[[]]},{"id":"923c22f7a01d3abe","type":"function","z":"745948b7528de232","name":"position","func":"var newMsg = {\n    payload: { \"data\": { \"position\": msg.payload.state, \"entity_id\": env.get(\"entityID\") }}\n    };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":440,"wires":[["66310aedd9c70281"]]},{"id":"c7c0945345811a4e","type":"switch","z":"745948b7528de232","name":"Style","property":"payload.style","propertyType":"jsonata","rules":[{"t":"eq","v":"buttonLevelDown","vt":"str"},{"t":"eq","v":"button","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":530,"y":400,"wires":[["ec331b4d42d45c3a"],["ec331b4d42d45c3a"],[],[],[]]},{"id":"ea9021d70d8aa7b1","type":"switch","z":"745948b7528de232","name":"button","property":"payload.event","propertyType":"jsonata","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":320,"wires":[["e2bf6b59109212d9"],[]]},{"id":"ec331b4d42d45c3a","type":"switch","z":"745948b7528de232","name":"type","property":"payload.type","propertyType":"jsonata","rules":[{"t":"eq","v":"button","vt":"str"},{"t":"eq","v":"level","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":360,"wires":[["ea9021d70d8aa7b1"],["f6d504f0ddb6fc2b"]]},{"id":"f6d504f0ddb6fc2b","type":"switch","z":"745948b7528de232","name":"level","property":"payload.event","propertyType":"jsonata","rules":[{"t":"eq","v":"up","vt":"str"},{"t":"eq","v":"down","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":440,"wires":[["923c22f7a01d3abe"],["923c22f7a01d3abe"]]},{"id":"cb39a7decdbbe6da","type":"change","z":"745948b7528de232","name":"","rules":[{"t":"set","p":"payload.data.position","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1670,"y":160,"wires":[[]]},{"id":"19e321241b1c613a","type":"switch","z":"745948b7528de232","name":"Screen","property":"payload.screen","propertyType":"jsonata","rules":[{"t":"eq","v":"screen","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":400,"wires":[["dd20d26776bac30d"]]},{"id":"dd20d26776bac30d","type":"switch","z":"745948b7528de232","name":"tile","property":"payload.tile","propertyType":"jsonata","rules":[{"t":"eq","v":"tile","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":400,"wires":[["c7c0945345811a4e"]]},{"id":"ab199d2ce7843c3b","type":"change","z":"745948b7528de232","name":"","rules":[{"t":"set","p":"blinds_sublabel","pt":"flow","to":"payload.new_state.state","tot":"msg"},{"t":"set","p":"blinds_templevel","pt":"flow","to":"payload.new_state.attributes.current_position","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\t   \"tiles\": [\t       {\t           \"screen\": $env('screen'),\t           \"tile\": $env('tile'),\t           \"state\": \"off\"\t       }    \t   ]\t}","tot":"jsonata"},{"t":"set","p":"msg.payload.tiles[0].subLabel","pt":"msg","to":"blinds_sublabel","tot":"flow"},{"t":"set","p":"msg.payload.tiles[0].level","pt":"msg","to":"blinds_templevel","tot":"flow"},{"t":"delete","p":"blinds_sublabel","pt":"flow"},{"t":"delete","p":"blinds_templevel","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":620,"wires":[["27c7cfc1d54c7db2"]]},{"id":"79e38cd78075c199","type":"comment","z":"745948b7528de232","name":"Updates & Triggers Home Assistant","info":"","x":1660,"y":380,"wires":[]},{"id":"0b7433babb98fe63","type":"comment","z":"745948b7528de232","name":"Tile Button Actions Toggle - Stop","info":"","x":1170,"y":260,"wires":[]},{"id":"f2a08aab2a8605ed","type":"comment","z":"745948b7528de232","name":"Updates OXRS Tiles","info":"","x":1350,"y":560,"wires":[]},{"id":"68064fb6ccae3e43","type":"api-call-service","z":"745948b7528de232","name":"","server":"e6a9496.54c7db8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["${entityID}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload.data","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1650,"y":440,"wires":[[]]},{"id":"66310aedd9c70281","type":"trigger","z":"745948b7528de232","name":"","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"1","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1400,"y":440,"wires":[["68064fb6ccae3e43"]]},{"id":"c759859fe3b80f18","type":"comment","z":"745948b7528de232","name":"Receives OXRS up and down arrow levels","info":"","x":1200,"y":400,"wires":[]},{"id":"e2bf6b59109212d9","type":"api-call-service","z":"745948b7528de232","name":"","server":"e6a9496.54c7db8","version":5,"debugenabled":false,"domain":"cover","service":"toggle","areaId":[],"deviceId":[],"entityId":["${entityID}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload.data","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1190,"y":300,"wires":[[]]},{"id":"a7a2b2f322b5f944","type":"api-call-service","z":"745948b7528de232","name":"","server":"e6a9496.54c7db8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["${entityID}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload.data","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1230,"y":340,"wires":[[]]},{"id":"e6a9496.54c7db8","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"0dc5389db99318d0","type":"mqtt in","z":"c23a8ceee15d6a2e","name":"","topic":"stat/OXRS_touch","qos":"2","datatype":"json","broker":"22e293e4.72c8ac","nl":false,"rap":false,"inputs":0,"x":140,"y":1360,"wires":[["72e4cf6c53e3dc4e","836797ca9e4e1ad4"]]},{"id":"21609a0e576c0b93","type":"mqtt out","z":"c23a8ceee15d6a2e","name":"","topic":"cmnd/OXRS_touch","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c9e6d4a.b8d71","x":590,"y":1360,"wires":[]},{"id":"4012f1306158bc91","type":"subflow:745948b7528de232","z":"c23a8ceee15d6a2e","name":"Blinds 1","env":[{"name":"entityID","value":"cover.quarto2_blinds_2","type":"str"},{"name":"screen","value":"5","type":"num"},{"name":"tile","value":"1","type":"num"},{"name":"Screen","value":"1","type":"num"},{"name":"Tile","value":"1","type":"num"}],"x":340,"y":1440,"wires":[["9dc1b85d6772b01b"]]},{"id":"575187cc72cca6ef","type":"subflow:745948b7528de232","z":"c23a8ceee15d6a2e","name":"Blinds 2","env":[{"name":"entityID","value":"cover.quarto3_blinds1","type":"str"},{"name":"screen","value":"5","type":"num"},{"name":"tile","value":"2","type":"num"}],"x":340,"y":1480,"wires":[["c0627af163170c15"]]},{"id":"aa2531321f2f0960","type":"subflow:745948b7528de232","z":"c23a8ceee15d6a2e","name":"Blinds 3","env":[{"name":"entityID","value":"cover.quarto3_blinds2","type":"str"},{"name":"screen","value":"5","type":"num"},{"name":"tile","value":"3","type":"num"}],"x":340,"y":1520,"wires":[["53540617b51ed2d1"]]},{"id":"34fe13570b9e5ed6","type":"comment","z":"c23a8ceee15d6a2e","name":"LivingRoom","info":"","x":150,"y":1480,"wires":[]},{"id":"836797ca9e4e1ad4","type":"link out","z":"c23a8ceee15d6a2e","name":"link out 21","mode":"link","links":["d170cca97b52c898","7760281fa9816d59","b4332d05d41b1c74","c59256d3a2953e3d","64973c9483b2d3d6","1c8a979d9576d935","daf646e7a90273e2","2995493638cb1d24","8c31882f271138b3","c001993150f91932","7fc231d6479e871a","bc7d6b199bf2b34c","df12b337d5d45c35","0ed12b78375293f2"],"x":255,"y":1360,"wires":[]},{"id":"b4332d05d41b1c74","type":"link in","z":"c23a8ceee15d6a2e","name":"link in 17","links":["836797ca9e4e1ad4"],"x":245,"y":1440,"wires":[["4012f1306158bc91"]]},{"id":"c59256d3a2953e3d","type":"link in","z":"c23a8ceee15d6a2e","name":"link in 18","links":["836797ca9e4e1ad4"],"x":245,"y":1480,"wires":[["575187cc72cca6ef"]]},{"id":"64973c9483b2d3d6","type":"link in","z":"c23a8ceee15d6a2e","name":"link in 19","links":["836797ca9e4e1ad4"],"x":245,"y":1520,"wires":[["aa2531321f2f0960"]]},{"id":"9dc1b85d6772b01b","type":"link out","z":"c23a8ceee15d6a2e","name":"link out 22","mode":"link","links":["66bad78dadd878d3"],"x":435,"y":1440,"wires":[]},{"id":"66bad78dadd878d3","type":"link in","z":"c23a8ceee15d6a2e","name":"link in 29","links":["9dc1b85d6772b01b","c0627af163170c15","53540617b51ed2d1","2923290219af3c47","e9b18a330f3b7293","be32ed0dff84322e","530208dcc2466b47","a45bc6c13edeb1f2","e9c87a2ee40b4605","2ce06dbd2ecdaed5","eca09dfe900ff28f","06f168d1b44191d1","0661267c2bb54074","2dfedbd40130693a"],"x":465,"y":1360,"wires":[["21609a0e576c0b93"]]},{"id":"c0627af163170c15","type":"link out","z":"c23a8ceee15d6a2e","name":"link out 23","mode":"link","links":["66bad78dadd878d3"],"x":435,"y":1480,"wires":[]},{"id":"53540617b51ed2d1","type":"link out","z":"c23a8ceee15d6a2e","name":"link out 24","mode":"link","links":["66bad78dadd878d3"],"x":435,"y":1520,"wires":[]},{"id":"22e293e4.72c8ac","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"2","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"9c9e6d4a.b8d71","type":"mqtt-broker","name":"MQTT","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]