sensor tiles/NR sensor tiles.txt
[{"id":"8109ef6020852329","type":"subflow","name":"OXRS Tile Lux Meter","info":"","category":"","in":[],"out":[],"env":[{"name":"screen","type":"num","value":""},{"name":"tile","type":"num","value":""},{"name":"entityid","type":"str","value":"LUMI lumi.sen_ill.mgl01 Illuminance"}],"meta":{},"color":"#DDAA99"},{"id":"ead72fc74246eb21","type":"change","z":"8109ef6020852329","name":"","rules":[{"t":"set","p":"TempLuxValue","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":140,"wires":[["8b095a2d10deb43d"]]},{"id":"8b095a2d10deb43d","type":"change","z":"8109ef6020852329","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"tiles\": [\t       {\t           \"screen\": $env('screen'),\t           \"tile\": $env('tile')\t       }    \t   ]\t}","tot":"jsonata"},{"t":"set","p":"payload.tiles[0].number.value","pt":"msg","to":"TempLuxValue","tot":"flow"},{"t":"set","p":"payload.tiles[0].number.units","pt":"msg","to":"Lum","tot":"str"},{"t":"set","p":"payload.tiles[0].subLabel","pt":"msg","to":"tempsubLabel","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":140,"wires":[["548e4c6fddc6029d"]]},{"id":"548e4c6fddc6029d","type":"json","z":"8109ef6020852329","name":"","property":"payload","action":"obj","pretty":false,"x":970,"y":140,"wires":[["df451962a6d2619e"]]},{"id":"df451962a6d2619e","type":"mqtt out","z":"8109ef6020852329","name":"","topic":"cmnd/OXRS_touch","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c9e6d4a.b8d71","x":1170,"y":140,"wires":[]},{"id":"b7695ffe065d72d9","type":"mqtt in","z":"8109ef6020852329","name":"","topic":"stat/IOExpander01/lwt","qos":"2","datatype":"utf8","broker":"9c9e6d4a.b8d71","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":260,"wires":[["a687bc714028fdb7"]]},{"id":"8874a91a24af7598","type":"comment","z":"8109ef6020852329","name":"sublabel tile","info":"","x":210,"y":220,"wires":[]},{"id":"a687bc714028fdb7","type":"change","z":"8109ef6020852329","name":"set sublabel","rules":[{"t":"set","p":"tempsubLabel","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":260,"wires":[[]]},{"id":"6142e9c77d96a27d","type":"comment","z":"8109ef6020852329","name":"build tile mqtt command","info":"","x":760,"y":80,"wires":[]},{"id":"c2850b13b651145f","type":"poll-state","z":"8109ef6020852329","name":"","server":"e6a9496.54c7db8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"30","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"${entityid}","state_type":"str","halt_if":"NaN","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":230,"y":140,"wires":[["ead72fc74246eb21"],["a687bc714028fdb7"]]},{"id":"e6a9496.54c7db8","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"3c95506da240b248","type":"subflow","name":"OXRS Tile Sensor Co2 Subflow","info":"","category":"","in":[],"out":[],"env":[{"name":"screen","type":"num","value":"0"},{"name":"tile","type":"num","value":"0"},{"name":"co2","type":"str","value":"IOExpander/xxx/Co2"}],"meta":{},"color":"#DDAA99"},{"id":"238a5265b8755955","type":"mqtt in","z":"3c95506da240b248","name":"","topic":"${co2}","qos":"2","datatype":"utf8","broker":"9c9e6d4a.b8d71","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":140,"wires":[["9c6b9a28fd6a3f3d"]]},{"id":"1cfa9c131a6335ac","type":"change","z":"3c95506da240b248","name":"","rules":[{"t":"set","p":"TempCo2Value","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":140,"wires":[["724c3d1e5ec09be3"]]},{"id":"724c3d1e5ec09be3","type":"change","z":"3c95506da240b248","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"tiles\": [\t       {\t           \"screen\": $env('screen'),\t           \"tile\": $env('tile')\t       }    \t   ]\t}","tot":"jsonata"},{"t":"set","p":"payload.tiles[0].number.value","pt":"msg","to":"TempCo2Value","tot":"flow"},{"t":"set","p":"payload.tiles[0].number.units","pt":"msg","to":"PPM","tot":"str"},{"t":"set","p":"payload.tiles[0].subLabel","pt":"msg","to":"tempsubLabel","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":140,"wires":[["b4f59940749ad236"]]},{"id":"b4f59940749ad236","type":"json","z":"3c95506da240b248","name":"","property":"payload","action":"obj","pretty":false,"x":1010,"y":140,"wires":[["e7fab0e1a356cea2","9868c6b85626d977"]]},{"id":"e7fab0e1a356cea2","type":"mqtt out","z":"3c95506da240b248","name":"","topic":"cmnd/OXRS_touch","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c9e6d4a.b8d71","x":1210,"y":140,"wires":[]},{"id":"6d8dade56f0d3c1f","type":"mqtt in","z":"3c95506da240b248","name":"","topic":"stat/IOExpander01/lwt","qos":"2","datatype":"utf8","broker":"9c9e6d4a.b8d71","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":260,"wires":[["8f50433b36f873a5","3a912114dbb6dfa7"]]},{"id":"a899068a77dd4c90","type":"comment","z":"3c95506da240b248","name":"sublabel tile","info":"","x":210,"y":220,"wires":[]},{"id":"8f50433b36f873a5","type":"change","z":"3c95506da240b248","name":"set sublabel","rules":[{"t":"set","p":"tempsubLabel","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":260,"wires":[["724c3d1e5ec09be3"]]},{"id":"c797e74267159afd","type":"comment","z":"3c95506da240b248","name":"build tile mqtt command","info":"","x":620,"y":80,"wires":[]},{"id":"9c6b9a28fd6a3f3d","type":"switch","z":"3c95506da240b248","name":"","property":"payload","propertyType":"msg","rules":[{"t":"else"},{"t":"cont","v":"NaN","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":140,"wires":[["1cfa9c131a6335ac"],[]]},{"id":"9868c6b85626d977","type":"debug","z":"3c95506da240b248","name":"debug 22","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1180,"y":220,"wires":[]},{"id":"3a912114dbb6dfa7","type":"debug","z":"3c95506da240b248","name":"debug 23","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":340,"wires":[]},{"id":"c3853365634902e1","type":"subflow","name":"OXRS Tile Sensor Temp/Hum Subflow","info":"","category":"","in":[],"out":[],"env":[{"name":"screen","type":"num","value":"0"},{"name":"tile","type":"num","value":"0"},{"name":"temp","type":"str","value":"IOExpander/xxx/Temp"},{"name":"hum","type":"str","value":"IOExpander/xxx/Hum"},{"name":"co2","type":"str","value":"IOExpander/xxx/Co2"}],"meta":{},"color":"#DDAA99"},{"id":"851236c18594aa99","type":"change","z":"c3853365634902e1","name":"","rules":[{"t":"set","p":"tempsubValue","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":280,"wires":[[]]},{"id":"fd439f8bf8fe11bd","type":"mqtt in","z":"c3853365634902e1","name":"","topic":"${temp}","qos":"2","datatype":"utf8","broker":"9c9e6d4a.b8d71","nl":false,"rap":true,"rh":0,"inputs":0,"x":210,"y":220,"wires":[["8d25cd921a66ee8f"]]},{"id":"fc084fc1e965e3ad","type":"mqtt in","z":"c3853365634902e1","name":"","topic":"${hum}","qos":"2","datatype":"utf8","broker":"9c9e6d4a.b8d71","nl":false,"rap":true,"rh":0,"inputs":0,"x":210,"y":280,"wires":[["b6c60ae02228dceb"]]},{"id":"3dfe7f7e87e47d9c","type":"change","z":"c3853365634902e1","name":"","rules":[{"t":"set","p":"tempValue","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":220,"wires":[["e27ef31502e89a38"]]},{"id":"e27ef31502e89a38","type":"change","z":"c3853365634902e1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"tiles\": [\t       {\t           \"screen\": $env('screen'),\t           \"tile\": $env('tile')\t       }    \t   ]\t}","tot":"jsonata"},{"t":"set","p":"payload.tiles[0].number.value","pt":"msg","to":"tempValue","tot":"flow"},{"t":"set","p":"payload.tiles[0].number.units","pt":"msg","to":"°C","tot":"str"},{"t":"set","p":"payload.tiles[0].number.subValue","pt":"msg","to":"tempsubValue","tot":"flow"},{"t":"set","p":"payload.tiles[0].number.subUnits","pt":"msg","to":"%","tot":"str"},{"t":"set","p":"payload.tiles[0].subLabel","pt":"msg","to":"tempsubLabel","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":220,"wires":[["62efc0bf4fab79ae"]]},{"id":"62efc0bf4fab79ae","type":"json","z":"c3853365634902e1","name":"","property":"payload","action":"obj","pretty":false,"x":930,"y":220,"wires":[["fb625d0ea6a7fcf3"]]},{"id":"fb625d0ea6a7fcf3","type":"mqtt out","z":"c3853365634902e1","name":"","topic":"cmnd/OXRS_touch","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c9e6d4a.b8d71","x":1110,"y":220,"wires":[]},{"id":"8d4c62be4d376ad4","type":"mqtt in","z":"c3853365634902e1","name":"","topic":"stat/IOExpander01/lwt","qos":"2","datatype":"utf8","broker":"9c9e6d4a.b8d71","nl":false,"rap":true,"rh":0,"inputs":0,"x":260,"y":440,"wires":[["b5755f1d6735893e"]]},{"id":"ee9764080cdcb6fc","type":"comment","z":"c3853365634902e1","name":"","info":"","x":220,"y":400,"wires":[]},{"id":"b5755f1d6735893e","type":"change","z":"c3853365634902e1","name":"set sublabel","rules":[{"t":"set","p":"tempsubLabel","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":440,"wires":[["e27ef31502e89a38"]]},{"id":"8d25cd921a66ee8f","type":"switch","z":"c3853365634902e1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"else"},{"t":"eq","v":"NaN","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":220,"wires":[["3dfe7f7e87e47d9c"],[]]},{"id":"b6c60ae02228dceb","type":"switch","z":"c3853365634902e1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"else"},{"t":"eq","v":"NaN","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":280,"wires":[["851236c18594aa99"],[]]},{"id":"9c9e6d4a.b8d71","type":"mqtt-broker","name":"MQTT","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"fe1b8e7966a9e0a4","type":"subflow:c3853365634902e1","z":"c23a8ceee15d6a2e","name":"","env":[{"name":"screen","value":"3","type":"num"},{"name":"tile","value":"2","type":"num"},{"name":"temp","value":"IOExpander/Q301/Temp","type":"str"},{"name":"hum","value":"IOExpander/Q301/Hum","type":"str"},{"name":"co2","value":"IOExpander/Q301/Co2","type":"str"}],"x":430,"y":1860,"wires":[]},{"id":"16f1c96207d41893","type":"subflow:3c95506da240b248","z":"c23a8ceee15d6a2e","name":"","env":[{"name":"screen","value":"3","type":"num"},{"name":"tile","value":"1","type":"num"},{"name":"co2","value":"IOExpander/Q301/Co2","type":"str"}],"x":410,"y":1900,"wires":[]},{"id":"a9c6f9f060bdd615","type":"subflow:8109ef6020852329","z":"c23a8ceee15d6a2e","name":"Climate Lux","env":[{"name":"screen","value":"3","type":"num"},{"name":"tile","value":"3","type":"num"},{"name":"entityid","value":"sensor.lumi_lumi_sen_ill_mgl01_illuminance","type":"str"}],"x":350,"y":1940,"wires":[]}]